

// Map the drupal variables to the skin variables
$drupal-width: $xmas-width;
$drupal-first-sidebar-width: $xmas-first-sidebar-width;
$drupal-second-sidebar-width: $xmas-second-sidebar-width;
$drupal-content-position: $xmas-content-position;
$drupal-proportional-typeface: $xmas-proportional-typeface;
$drupal-monospaced-typeface: $xmas-monospaced-typeface;
$drupal-base-font-size: $xmas-base-font-size;
