@import "compass";
// This variable controls the total width of the container div
// You can use px for a Fixed layout or % for a Liquid layout
$xmasdev-width: 960px;

// These variables control the size of the sidebars
$xmasdev-first-sidebar-width: 270px;
$xmasdev-second-sidebar-width: 200px;

// This variable positions the content relative to the sidebars
// Possible values are first, last, middle
$xmasdev-content-position: "first";

// These variables control the typefaces as defined in html-reset.css
$xmasdev-proportional-typeface: Georgia, "Times New Roman", Times, serif;
$xmasdev-monospaced-typeface: "Courier New", "DejaVu Sans Mono", monospace;

// These variables control the font sizes as defined in html-reset.css
$xmasdev-base-font-size: 14px;

// Colors
$xmasdev-blue: #0079BB;
$xmasdev-dark-blue: #1F1F30;
$xmasdev-dark-grey: #333333;
$xmasdev-light-grey: #666666;
$xmasdev-red: #C32400;
$xmasdev-white: #FFFFFF;

/* Xmas patterns */
.-xmas-vertical-menu {
    @include no-bullets;
    padding: 0;
    margin: 0 0 20px 0;
    li { // Yes, every li, including sub menus
      padding: 0 5px 5px;
      margin: 5px 0;
      border-bottom: 1px dotted #ccc;
      &.first { }
      &:last-of-type,
      &.last,
      &.expanded {
        padding-bottom: 0;
        border-bottom: none;
        + li {
          padding-top: 5px;
          border-top: 1px dotted #ccc; } }
      a {
        color: $xmasdev-light-grey;
        &:hover { color: $xmasdev-blue; } } } }

.-xmas-vertical-submenu {
  margin-top: 5px;
  border-top: 1px dotted #CCCCCC;
  padding-left: 1em;
  margin-bottom: 0;
    li { padding-left: 0; } }

/* Xmas HTML elements styles */
.-xmasdev-h2 {
  font-size: 1.5em; //21px if base font-size is 14px
  margin: 0.67em 0;
  font-weight: normal;
  color: $xmasdev-blue; }

.-xmasdev-h3 {
  font-size: 1.286em; //18px if base font-size is 14px
  margin: 0.83em 0;
  font-weight: normal;
  color: $xmasdev-blue; }

.-xmasdev-h4 {
  font-size: 1em; //14px if base font-size is 14px
  margin: 1em 0;
  font-weight: normal;
  color: $xmasdev-blue; }

.-xmasdev-h5 {
  font-size: 1em; //14px if base font-size is 14px
  font-style: italic;
  margin: 1em 0;
  font-weight: normal; }

.-xmasdev-h6 {
  font-size: 0.8em; //11.2px if base font-size is 14px
  font-style: italic;
  margin: 1.25em 0;
  font-weight: normal; }

.-xmasdev-p {
  margin: 0.7em 0; /* TODO: vertical rhythm */ }

.-xmasdev-li { }

.-xmasdev-ul { }

.-xmasdev-ol { }

.-xmasdev-blockquote { }

.-xmasdev-cite { }

.-xmasdev-a {
  color: $xmasdev-blue;
  text-decoration: none;
  &:link { }
  &:visited { }
  &:hover {
    text-decoration: underline; }
  &:focus { }
  &:active { } }

.-xmasdev-pre { }

.-xmasdev-code { }

.-xmasdev-table {
  width: 100%;
  caption { }
  thead {
    background: image-url('tableheader.png') no-repeat top left; } }

.-xmasdev-table-row {
  line-height: 1.8em;
  &.odd { }
  &.even { }
  thead & {
    line-height: 2.4em; }
  tfoot & { }
  tbody & {
    border-bottom: 1px dotted #ccc;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent; }
  th {
    color: white;
    text-align: left; }
  td { }
  th:first-child {
    padding-left: 3.5em; }
  td:first-child {
    padding-left: 2.5em; } }

/* Xmas filtered content styles */
.-xmasdev-full-html-content {
  h2 { @extend .-xmasdev-h2; }
  h3 { @extend .-xmasdev-h3; }
  h4 { @extend .-xmasdev-h4; }
  h5 { @extend .-xmasdev-h5; }
  h6 { @extend .-xmasdev-h6; }
  p { @extend .-xmasdev-p; }
  li { @extend .-xmasdev-li; }
  ul { @extend .-xmasdev-ul; }
  ol { @extend .-xmasdev-ol; }
  pre { 
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
  @extend .-xmasdev-pre; }
  code { 
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
  @extend .-xmasdev-code; }
  blockquote { @extend .-xmasdev-blockquote; }
  cite { @extend .-xmasdev-cite; }
  a { @extend .-xmasdev-a; }
  table { @extend .-xmasdev-table; }
  tr { @extend .-xmasdev-table-row; } }

.-xmasdev-restricted-html-content {
  h3 { @extend .-xmasdev-h3; }
  h4 { @extend .-xmasdev-h4; }
  h5 { @extend .-xmasdev-h5; }
  h6 { @extend .-xmasdev-h6; }
  p { @extend .-xmasdev-p; }
  ul { @extend .-xmasdev-ul; }
  ol { @extend .-xmasdev-ol; }
  li { @extend .-xmasdev-li; }
  a { @extend .-xmasdev-a; } }

/* Xmas page.tpl.php styles */
.-xmasdev-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  width: 960px;
  margin: 0 auto;
  background: image-url('bk_body.jpg') no-repeat scroll top center $xmasdev-dark-blue;
  color: $xmasdev-dark-grey;
  line-height: 135%; /* TODO: vertical rhythm */ }

.-xmasdev-skip-link { }

.-xmasdev-page { }

.-xmasdev-header {
  height: 206px; /* TODO: vertical rhythm */
  position: relative; /* TODO: layout */ }

.-xmasdev-logo {
  float: left;
  margin-right: 1em; }

.-xmasdev-name-and-slogan { 
  position: absolute; /* TODO: layout */
  top: 70px; /* TODO: layout */
  left: 70px; /* TODO: layout */
  right: 70px; /* fixes misterious width quirk */
} // usually a #name-and-slogan wrapper div (YMMV)

.-xmasdev-site-name {
  letter-spacing: -1px;
  font-size: 2.429em; //34px if base font-size is 14px
  background-image: none;
  padding: 0;
  a { 
    font-weight: normal;
    line-height: 25px; /* TODO: vertical rhythm */
    text-decoration: none;
    @include link-colors($xmasdev-white); } }

.-xmasdev-site-slogan {
  padding: 10px 0; /* TODO: vertical rhythm */
  text-transform: uppercase;
  font-size: 0.786em;
  color: #CECFDB; /* TODO: color palette */
}

.-xmasdev-header-region { }

.-xmasdev-container {
  background: $xmasdev-white image-url('bk_content.jpg') 0 0 repeat-y; 
}

.-xmasdev-navigation { }

.-xmasdev-menu { // by default, both menus inherit these styles
  // @extend .-xmas-vertical-menu;
  > li { // use '>' to target only child items
    &.first { }
    &.last { }
    &.expanded { } } }

.-xmasdev-submenu { // think expanded menus, not secondary menus
    // @extend .-xmas-vertical-submenu;
    > li { // use '>' to target only child items
    &.first { }
    &.last { }
    &.expanded { } } }

.-xmasdev-sidebar {
  padding-top: 1.5em;
  width: 270px;
  float: left;
} // by default both sidebars inherit these styles

.-xmasdev-main {
  padding-top: 1.5em;
  width: 690px;
  float: left;
  &.with-breadcrumb { 
    padding-top: 0; } }

.-xmasdev-mission {
  margin: 0 auto 1em; 
  width: 635px; }

.-xmasdev-breadcrumb {
  width: 635px;
  margin: 0 auto;
  padding: 0.2em 0 0.5em;
  line-height: 1em;
  a { @extend .-xmasdev-a; } }

.-xmasdev-content {
  width: 635px;
  margin: 0 auto;
  position: relative;
  .created {
    position: absolute; /* TODO: layout */
    top:0;
    left: -40px;
    height: 35px;
    width: 70px;
    background: image-url('bk_date.png') 0 0 no-repeat;
    color: $xmasdev-white;
    line-height: 25px; /* TODO: vertical rhythm */
    text-align: center;
    font-size: 0.786em; /* TODO: vertical rhythm */
    text-transform: uppercase;
    span {
      font-weight: bold;
      font-size: 19px; } } }

$tabs-position: 100%;
@import "tabs/*.png";
.-xmasdev-tabs {
  .primary { }
  .secondary { }
  // the following styles apply to both tab groups.
  ul {
    @include horizontal-list(0); }
  li {
    @include tabs-sprite(inactive-left);
    margin: 0 0.5em 0.75em; }
  li.active {
    @include tabs-sprite(active-left); 
    a { 
      @include tabs-sprite(active-right, $offset-x: 100%); } }
  a {
    @include text-shadow;
    @include tabs-sprite(inactive-right, $offset-x: 100%);
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em; }
  a.active { } }

.-xmasdev-messages {
  @include no-bullets;
  padding: 0.5em;
  margin: 0 auto 0.5em;
  width: 635px;
  &.status {
    background: none repeat scroll 0 0 #DDFFFF;
    border: 1px solid #20F0C0; } /* TODO: just a placeholder */
  &.warning { }
  &.error { }
  &.help { }

  // when there is more than one message, they get wrapped in a ul
  ul { }
  li { }
}

.-xmasdev-pager {
  @include pie-clearfix;
  text-align: left;
  padding: 0;
  li { 
    display: inline-block;
    padding: 0;
    margin: 0; }
  a { 
    background: image-url('bk_page.png') no-repeat center center;
    text-decoration: none;
    padding: 0.5em 0.75em;
    display: block;
    color: white;
    &:hover { 
      background: image-url('bk_page_on.png') no-repeat center center; } }
  .pager-info { margin-right: 0.5em; }
  .pager-item {  }
  .pager-current {
    color: white;
    padding: 0.5em 0.75em;
    background: image-url('bk_page_on.png') no-repeat center center; }
  .pager-previous { }
  .pager-next { }
  .pager-first { }
  .pager-last { } }

.-xmasdev-feed-icons {
  .feed-icon { } }

.-xmasdev-title {
  background: image-url('bk_line.jpg') no-repeat scroll left bottom transparent;
  font-size: 1.786em; /* 25px if base font-size is 14px */
  font-weight: normal;
  letter-spacing: -1px;
  padding-bottom: 25px; /* TODO: vertical rhythm */
  margin-top: 0;
  line-height: 1.3em;
  &.display-submitted { 
    background: none;
    padding-left: 50px;
    margin-bottom: 0;
    padding-bottom: 0; }
  a { 
    @extend .-xmasdev-a;
    text-decoration: none; }
}

.-xmasdev-content-area {
  .page-admin & {
    @extend .-xmasdev-full-html-content;
  }
}

.-xmasdev-footer {
  padding: 65px 0 40px; /* TODO: vertical rhythm */
  color: $xmasdev-light-grey;
  background: image-url('bk_footer.jpg') 0 0 no-repeat;
  position: relative; /* TODO: layout */ }

.-xmasdev-footer-message {
  a { @extend .-xmasdev-a; }
}

/* Xmas block.tpl.php styles */
// These are defaults for every block in your theme
.-xmasdev-block { }

.-xmasdev-block-title {
  background: image-url('bk_h2_right.png') 0 0 no-repeat;
  height: 34px;
  line-height: 32px;
  text-indent: 33px;
  text-transform: uppercase;
  color: #DBEDF9;
  text-shadow: #00659F 1px 1px;
  font-size: 12px;
  font-weight: normal;
  margin: 0 -7px 0 2px;
}

.-xmasdev-block-content { 
  @extend .-xmasdev-restricted-html-content; }

// Make copies of the components for a diversity of block styles, like these
.-xmasdev-content-block { }

.-xmasdev-content-block-title { }

.-xmasdev-content-block-content { }

.-xmasdev-sidebar-block {
  margin-bottom: 1em; }

.-xmasdev-sidebar-block-title {
  font-size: 12px; }

.-xmasdev-sidebar-block-content {
  font-size: 12px;
  margin-left: 1em;
  ul {
    @extend .-xmas-vertical-menu;
    ul { @extend .-xmas-vertical-submenu; } } }

/* Xmas node.tpl.php styles */
// Make copies of these components for a diversity of node styles
.-xmasdev-node {
  background: image-url('bk_line_ornament.jpg') bottom left no-repeat;
  padding-bottom:25px;
  margin-bottom:20px;
  position: relative; }

.-xmasdev-node-picture { }

.-xmasdev-node-title {
  @extend .-xmasdev-title;
  &.display-submitted { 
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 50px; }
} //meant for node listings, see also .-xmasdev-title

.-xmasdev-node-meta {
  padding-left: 50px;
  padding-bottom: 2em;
  margin-top: 0.8em;
  font-size: 0.8em;
  color: #666;
  background: image-url('bk_line.jpg') no-repeat scroll left bottom transparent;
}

.-xmasdev-node-submitted {
  display: inline-block;
  text-indent: 36px;
  height: 22px;
  background: image-url('bk_bell.png') no-repeat left center;
  a { @extend .-xmasdev-a; }
}

.-xmasdev-node-terms { } 

.-xmasdev-node-content { @extend .-xmasdev-full-html-content; }

.-xmasdev-node-links {
  li {
    padding: 0;
    margin: 0 1em 0 0;
    &.first { }
    &.last { }
    a { 
      @extend .-xmasdev-a;
      color: $xmasdev-red;
      font-weight: bold; } } }

.-xmasdev-node-sticky { }

.-xmasdev-node-unpublished {
    .unpublished { } }

.-xmasdev-node-by-viewer { }

.-xmasdev-node-preview { }

/* Xmas profile.tpl.php styles */
.-xmasdev-profile { }

.-xmasdev-profile-picture { }

.-xmasdev-profile-category-header { }

.-xmasdev-profile-category-wrapper { }

.-xmasdev-profile-field-label { }

.-xmasdev-profile-field-value { }

