

// Map the drupal variables to the skin variables
$drupal-width: $xmasdev-width;
$drupal-first-sidebar-width: $xmasdev-first-sidebar-width;
$drupal-second-sidebar-width: $xmasdev-second-sidebar-width;
$drupal-content-position: $xmasdev-content-position;
$drupal-proportional-typeface: $xmasdev-proportional-typeface;
$drupal-monospaced-typeface: $xmasdev-monospaced-typeface;
$drupal-base-font-size: $xmasdev-base-font-size;
