/* line 30, ../sass/_xmasdev-skin.scss */
.-xmasdev-h2, .-xmasdev-full-html-content h2, .-xmasdev-node-content h2, .node .content h2 {
  font-size: 1.286em;
  font-weight: normal;
  color: #0079bb;
}

/* line 40, ../sass/_xmasdev-skin.scss */
.-xmasdev-p, .-xmasdev-full-html-content p, .-xmasdev-node-content p, .node .content p, .-xmasdev-restricted-html-content p, .-xmasdev-block-content p, .block .content p {
  margin: 0.7em 0;
  /* TODO: vertical rhythm */
}

/* line 54, ../sass/_xmasdev-skin.scss */
.-xmasdev-a, .-xmasdev-full-html-content a, .-xmasdev-node-content a, .node .content a, .-xmasdev-restricted-html-content a, .-xmasdev-block-content a, .block .content a, .-xmasdev-title a, .-xmasdev-node-title a, .node > h2 a, #page-title a, .-xmasdev-footer-message a, .footer-message a, .-xmasdev-node-links li a, .node .links li a {
  color: #0079bb;
  text-decoration: none;
}
/* line 59, ../sass/_xmasdev-skin.scss */
.-xmasdev-a:hover, .-xmasdev-full-html-content a:hover, .-xmasdev-node-content a:hover, .node .content a:hover, .-xmasdev-restricted-html-content a:hover, .-xmasdev-block-content a:hover, .block .content a:hover, .-xmasdev-title a:hover, .-xmasdev-node-title a:hover, .node > h2 a:hover, #page-title a:hover, .-xmasdev-footer-message a:hover, .footer-message a:hover, .-xmasdev-node-links li a:hover, .node .links li a:hover {
  text-decoration: underline;
}

/* line 88, ../sass/_xmasdev-skin.scss */
.-xmasdev-full-html-content pre, .-xmasdev-node-content pre, .node .content pre {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}
/* line 91, ../sass/_xmasdev-skin.scss */
.-xmasdev-full-html-content code, .-xmasdev-node-content code, .node .content code {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/* line 109, ../sass/_xmasdev-skin.scss */
.-xmasdev-body, body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  width: 960px;
  margin: 0 auto;
  background: url('../images/bk_body.jpg?1321085858') no-repeat scroll top center #1f1f30;
  color: #333333;
  line-height: 135%;
  /* TODO: vertical rhythm */
}

/* line 122, ../sass/_xmasdev-skin.scss */
.-xmasdev-header, #header {
  height: 229px;
  /* TODO: vertical rhythm */
  position: relative;
  /* TODO: layout */
}

/* line 128, ../sass/_xmasdev-skin.scss */
.-xmasdev-logo, #logo {
  float: left;
  margin-right: 1em;
}

/* line 132, ../sass/_xmasdev-skin.scss */
.-xmasdev-name-and-slogan, #name-and-slogan {
  position: absolute;
  /* TODO: layout */
  top: 70px;
  /* TODO: layout */
  left: 70px;
  /* TODO: layout */
  right: 70px;
  /* fixes misterious width quirk */
}

/* line 139, ../sass/_xmasdev-skin.scss */
.-xmasdev-site-name, #site-name {
  letter-spacing: -1px;
  font-size: 2.429em;
  background-image: none;
  padding: 0;
}
/* line 144, ../sass/_xmasdev-skin.scss */
.-xmasdev-site-name a, #site-name a {
  font-weight: normal;
  line-height: 25px;
  /* TODO: vertical rhythm */
  text-decoration: none;
  color: white;
}

/* line 150, ../sass/_xmasdev-skin.scss */
.-xmasdev-site-slogan, #site-slogan {
  padding: 10px 0;
  /* TODO: vertical rhythm */
  text-transform: uppercase;
  font-size: 0.786em;
  color: #CECFDB;
  /* TODO: color palette */
}

/* line 159, ../sass/_xmasdev-skin.scss */
.-xmasdev-container, #container {
  background: white url('../images/bk_content.jpg?1321085858') 0 0 repeat-y;
}

/* line 177, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar, #sidebar-left, #sidebar-right {
  padding-top: 1.5em;
  width: 270px;
  float: left;
}

/* line 183, ../sass/_xmasdev-skin.scss */
.-xmasdev-main, #main {
  padding-top: 1.5em;
  width: 690px;
  float: left;
}

/* line 193, ../sass/_xmasdev-skin.scss */
.-xmasdev-content, #content {
  width: 635px;
  margin: 0 auto;
  position: relative;
}
/* line 197, ../sass/_xmasdev-skin.scss */
.-xmasdev-content .created, #content .created {
  position: absolute;
  /* TODO: layout */
  top: 0;
  left: -40px;
  height: 35px;
  width: 70px;
  background: url('../images/bk_date.png?1321085858') 0 0 no-repeat;
  color: white;
  line-height: 25px;
  /* TODO: vertical rhythm */
  text-align: center;
  font-size: 0.786em;
  /* TODO: vertical rhythm */
  text-transform: uppercase;
}
/* line 209, ../sass/_xmasdev-skin.scss */
.-xmasdev-content .created span, #content .created span {
  font-weight: bold;
  font-size: 19px;
}

/* line 222, ../sass/_xmasdev-skin.scss */
.-xmasdev-messages, #content .messages {
  list-style: none;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.-xmasdev-messages li, #content .messages li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 234, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager, #content .pager {
  *zoom: 1;
  text-align: left;
  padding: 0;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p290@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.-xmasdev-pager:after, #content .pager:after {
  content: "";
  display: table;
  clear: both;
}
/* line 238, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager li, #content .pager li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 242, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager a, #content .pager a {
  background: url('../images/bk_page.png?1282244997') no-repeat center center;
  text-decoration: none;
  padding: 0.5em 0.75em;
  display: block;
  color: white;
}
/* line 248, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager a:hover, #content .pager a:hover {
  background: url('../images/bk_page_on.png?1282244997') no-repeat center center;
}
/* line 250, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager .pager-info, #content .pager .pager-info {
  margin-right: 0.5em;
}
/* line 252, ../sass/_xmasdev-skin.scss */
.-xmasdev-pager .pager-current, #content .pager .pager-current {
  color: white;
  padding: 0.5em 0.75em;
  background: url('../images/bk_page_on.png?1282244997') no-repeat center center;
}

/* line 264, ../sass/_xmasdev-skin.scss */
.-xmasdev-title, .-xmasdev-node-title, .node > h2, #page-title {
  background: url('../images/bk_line.jpg?1321085858') no-repeat scroll left bottom transparent;
  font-size: 1.786em;
  /* 25px if base font-size is 14px */
  font-weight: normal;
  letter-spacing: -1px;
  padding-bottom: 25px;
  /* TODO: vertical rhythm */
  margin-top: 0;
  line-height: 1.3em;
}
/* line 272, ../sass/_xmasdev-skin.scss */
.-xmasdev-title.display-submitted, .display-submitted.-xmasdev-node-title, .node > h2.display-submitted, .display-submitted#page-title {
  background: none;
  padding-left: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 277, ../sass/_xmasdev-skin.scss */
.-xmasdev-title a, .-xmasdev-node-title a, .node > h2 a, #page-title a {
  text-decoration: none;
}

/* line 284, ../sass/_xmasdev-skin.scss */
.-xmasdev-footer, #footer-wrapper {
  padding: 65px 0 40px;
  /* TODO: vertical rhythm */
  color: #666666;
  background: url('../images/bk_footer.jpg?1321085858') 0 0 no-repeat;
  position: relative;
  /* TODO: layout */
}

/* line 298, ../sass/_xmasdev-skin.scss */
.-xmasdev-block-title, .block > h2 {
  background: url('../images/bk_h2_right.png?1321085858') 0 0 no-repeat;
  height: 34px;
  line-height: 32px;
  text-indent: 33px;
  text-transform: uppercase;
  color: #DBEDF9;
  text-shadow: #00659F 1px 1px;
  font-size: 12px;
  font-weight: normal;
  margin: 0 -7px 0 2px;
}

/* line 324, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-title, #sidebar-left .block > h2, #sidebar-right .block > h2 {
  font-size: 12px;
}

/* line 327, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content, #sidebar-left .block .content, #sidebar-right .block .content {
  font-size: 12px;
  margin-left: 1em;
}
/* line 330, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content ul, #sidebar-left .block .content ul, #sidebar-right .block .content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.-xmasdev-sidebar-block-content ul li, #sidebar-left .block .content ul li, #sidebar-right .block .content ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 334, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content li, #sidebar-left .block .content li, #sidebar-right .block .content li {
  padding: 5px;
  border-bottom: 1px dotted #ccc;
}
/* line 337, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content li.expanded, #sidebar-left .block .content li.expanded, #sidebar-right .block .content li.expanded {
  border-bottom: none;
}
/* line 339, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content a, #sidebar-left .block .content a, #sidebar-right .block .content a {
  color: #666666;
}
/* line 341, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content a:hover, #sidebar-left .block .content a:hover, #sidebar-right .block .content a:hover {
  color: #0079bb;
}
/* line 342, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content ul, #sidebar-left .block .content ul, #sidebar-right .block .content ul {
  border-top: 1px dotted #CCCCCC;
  padding-left: 1em;
  margin-bottom: 0;
}
/* line 346, ../sass/_xmasdev-skin.scss */
.-xmasdev-sidebar-block-content li, #sidebar-left .block .content li, #sidebar-right .block .content li {
  padding-left: 0;
}

/* line 350, ../sass/_xmasdev-skin.scss */
.-xmasdev-node, .node {
  background: url('../images/bk_line_ornament.jpg?1321085858') bottom left no-repeat;
  padding-bottom: 25px;
  margin-bottom: 20px;
  position: relative;
}

/* line 361, ../sass/_xmasdev-skin.scss */
.-xmasdev-node-title.display-submitted, .node > h2.display-submitted {
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 50px;
}

/* line 368, ../sass/_xmasdev-skin.scss */
.-xmasdev-node-meta, .node .meta {
  padding-left: 50px;
  padding-bottom: 2em;
  margin-top: 0.8em;
  font-size: 0.8em;
  color: #666;
  background: url('../images/bk_line.jpg?1321085858') no-repeat scroll left bottom transparent;
}

/* line 377, ../sass/_xmasdev-skin.scss */
.-xmasdev-node-submitted, .node .submitted {
  display: inline-block;
  text-indent: 36px;
  height: 22px;
  background: url('../images/bk_bell.png?1282244997') no-repeat left center;
}

/* line 392, ../sass/_xmasdev-skin.scss */
.-xmasdev-node-links li a, .node .links li a {
  color: #c32400;
  font-weight: bold;
}

/* page.tpl.php */
/* block.tpl.php */
/* node.tpl.php */
/* user-profile.tpl.php */
